@layer invoicecloud-base {
    @layer invoicecloud-reset, invoicecloud-variables, invoicecloud-components;
}

@layer invoicecloud-override {
    @layer invoicecloud-spacing, invoicecloud-overrides;
}

@layer invoicecloud-override.invoicecloud-overrides {
    :root {
        /* Uncomment and override vars to match your brand! */

        /* THEME TOKENS */

        /* Base Theme Tokens */
        --invoicecloud-base-theme-1: your-brand-vars-go-here;
        --invoicecloud-base-theme-2: your-brand-vars-go-here;
        --invoicecloud-base-theme-3: your-brand-vars-go-here;
        --invoicecloud-base-theme-4: your-brand-vars-go-here;

        /* Alternate Theme Tokens */
        --invoicecloud-alternate-theme-1: your-brand-vars-go-here;
        --invoicecloud-alternate-theme-2: your-brand-vars-go-here;
        --invoicecloud-alternate-theme-3: your-brand-vars-go-here;
        --invoicecloud-alternate-theme-4: your-brand-vars-go-here;

        /* Default Theme Tokens */
        --invoicecloud-default-theme-1: your-brand-vars-go-here;
        --invoicecloud-default-theme-2: your-brand-vars-go-here;
        --invoicecloud-default-theme-3: your-brand-vars-go-here;
        --invoicecloud-default-theme-4: your-brand-vars-go-here;

        /* STATUS TOKENS */

        /* Success */
        --invoicecloud-status-success-color: your-brand-vars-go-here;
        --invoicecloud-status-success-background-color: your-brand-vars-go-here;
        --invoicecloud-status-success-border: your-brand-vars-go-here;

        /* Warning */
        --invoicecloud-status-warning-color: your-brand-vars-go-here;
        --invoicecloud-status-warning-background-color: your-brand-vars-go-here;
        --invoicecloud-status-warning-border: your-brand-vars-go-here;

        /* Error */
        --invoicecloud-status-error-color: your-brand-vars-go-here;
        --invoicecloud-status-error-background-color: your-brand-vars-go-here;
        --invoicecloud-status-error-border: your-brand-vars-go-here;

        /* Info */
        --invoicecloud-status-info-color: your-brand-vars-go-here;
        --invoicecloud-status-info-background-color: your-brand-vars-go-here;
        --invoicecloud-status-info-border: your-brand-vars-go-here;

        /* Neutral */
        --invoicecloud-status-neutral-color: your-brand-vars-go-here;
        --invoicecloud-status-neutral-background-color: your-brand-vars-go-here;
        --invoicecloud-status-neutral-border: your-brand-vars-go-here;

        /* Spacing */
        --invoicecloud-spacing-xxs: your-brand-vars-go-here;
        --invoicecloud-spacing-xs: your-brand-vars-go-here;
        --invoicecloud-spacing-s: your-brand-vars-go-here;
        --invoicecloud-spacing-m: your-brand-vars-go-here;
        --invoicecloud-spacing-l: your-brand-vars-go-here;
        --invoicecloud-spacing-xl: your-brand-vars-go-here;
        --invoicecloud-spacing-xxl: your-brand-vars-go-here;

        /* Border Radius */
        --invoicecloud-border-radius-s: your-brand-vars-go-here;
        --invoicecloud-border-radius-m: your-brand-vars-go-here;
        --invoicecloud-border-radius-l: your-brand-vars-go-here;

        /* Focus */
        --invoicecloud-focus-outline-offset-s: your-brand-vars-go-here;
        --invoicecloud-focus-outline-offset-m: your-brand-vars-go-here;
        --invoicecloud-focus-outline: your-brand-vars-go-here;

        /* NAVIGATION */

        /* Header */
        --invoicecloud-header-background-color: your-brand-vars-go-here;
        --invoicecloud-header-border-bottom: your-brand-vars-go-here;
        --invoicecloud-header-max-width: your-brand-vars-go-here;
        --invoicecloud-header-logo-padding: your-brand-vars-go-here;
        --invoicecloud-header-logo-max-height: your-brand-vars-go-here;
        --invoicecloud-header-logo-mobile-max-height: your-brand-vars-go-here;
        --invoicecloud-header-backdrop-animation: your-brand-vars-go-here;
        --invoicecloud-header-backdrop-background-color: your-brand-vars-go-here;

        --invoicecloud-header-hamburger-toggle-padding: your-brand-vars-go-here;
        --invoicecloud-header-hamburger-toggle-margin: your-brand-vars-go-here;
        --invoicecloud-header-hamburger-toggle-background-color: your-brand-vars-go-here;
        --invoicecloud-header-hamburger-toggle-border-radius: your-brand-vars-go-here;
        --invoicecloud-header-hamburger-transition: your-brand-vars-go-here;

        /* Primary Navigation */
        --invoicecloud-nav-background-color: your-brand-vars-go-here;
        --invoicecloud-nav-link-background-color: your-brand-vars-go-here;
        --invoicecloud-nav-link-border: your-brand-vars-go-here;
        --invoicecloud-nav-link-color: your-brand-vars-go-here;
        --invoicecloud-nav-link-font-size: your-brand-vars-go-here;
        --invoicecloud-nav-link-line-height: your-brand-vars-go-here;
        --invoicecloud-nav-link-hover-color: your-brand-vars-go-here;
        --invoicecloud-nav-link-hover-weight: your-brand-vars-go-here;
        --invoicecloud-nav-link-font-weight: your-brand-vars-go-here;
        --invoicecloud-nav-link-padding: your-brand-vars-go-here;
        --invoicecloud-nav-link-text-decoration: your-brand-vars-go-here;
        --invoicecloud-nav-link-mobile-padding: your-brand-vars-go-here;
        --invoicecloud-nav-link-active-border-bottom: your-brand-vars-go-here;
        --invoicecloud-nav-link-active-color: your-brand-vars-go-here;
        --invoicecloud-nav-link-active-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-nav-link-grid-gap: your-brand-vars-go-here;

        --invoicecloud-submenu-background-color: your-brand-vars-go-here;
        --invoicecloud-submenu-elevation: your-brand-vars-go-here;
        --invoicecloud-submenu-mobile-elevation: your-brand-vars-go-here;
        --invoicecloud-submenu-link-border: your-brand-vars-go-here;
        --invoicecloud-submenu-link-color: your-brand-vars-go-here;
        --invoicecloud-submenu-link-hover-color: your-brand-vars-go-here;
        --invoicecloud-submenu-link-padding: your-brand-vars-go-here;
        --invoicecloud-submenu-link-hover-background: your-brand-vars-go-here;
        --invoicecloud-submenu-link-text-decoration: your-brand-vars-go-here;
        --invoicecloud-submenu-font-weight: your-brand-vars-go-here;

        /* Footer Navigation */
        --invoicecloud-footer-background-color: your-brand-vars-go-here;
        --invoicecloud-footer-color: your-brand-vars-go-here;
        --invoicecloud-footer-font-size: your-brand-vars-go-here;
        --invoicecloud-footer-padding: your-brand-vars-go-here;
        --invoicecloud-footer-row-gap: your-brand-vars-go-here;
        --invoicecloud-footer-logo-padding-right: your-brand-vars-go-here;
        --invoicecloud-footer-divider-border: your-brand-vars-go-here;
        --invoicecloud-footer-link-padding: your-brand-vars-go-here;

        /* Inline Link */
        --invoicecloud-inline-link-color: your-brand-vars-go-here;
        --invoicecloud-inline-link-color-hover: your-brand-vars-go-here;
        --invoicecloud-inline-link-text-decoration: your-brand-vars-go-here;

        --invoicecloud-inline-link-default-color: your-brand-vars-go-here;
        --invoicecloud-inline-link-default-color-hover: your-brand-vars-go-here;

        /* Account Links */
        --invoicecloud-account-link-color: your-brand-vars-go-here;
        --invoicecloud-account-link-font-size: your-brand-vars-go-here;
        --invoicecloud-account-link-margin: your-brand-vars-go-here;
        --invoicecloud-account-link-text-decoration: your-brand-vars-go-here;

        --invoicecloud-account-link-selected-background-color: your-brand-vars-go-here;
        --invoicecloud-account-link-selected-border-radius: your-brand-vars-go-here;
        --invoicecloud-account-link-selected-color: your-brand-vars-go-here;
        --invoicecloud-account-link-selected-padding: your-brand-vars-go-here;
        --invoicecloud-account-link-selected-text-decoration: your-brand-vars-go-here;

        --invoicecloud-account-link-selected-hover-background-color: your-brand-vars-go-here;
        --invoicecloud-account-link-selected-hover-color: your-brand-vars-go-here;

        /* Kebab Menu */
        --invoicecloud-kebab-button-background-color: your-brand-vars-go-here;
        --invoicecloud-kebab-button-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-kebab-button-border: your-brand-vars-go-here;
        --invoicecloud-kebab-button-border-radius: your-brand-vars-go-here;
        --invoicecloud-kebab-button-padding: your-brand-vars-go-here;
        --invoicecloud-kebab-button-active-background-color: your-brand-vars-go-here;

        --invoicecloud-kebab-actions-background-color: your-brand-vars-go-here;
        --invoicecloud-kebab-actions-box-shadow: your-brand-vars-go-here;

        --invoicecloud-kebab-action-item-border-bottom: your-brand-vars-go-here;
        --invoicecloud-kebab-action-item-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-kebab-action-item-font-size: your-brand-vars-go-here;
        --invoicecloud-kebab-action-item-line-height: your-brand-vars-go-here;
        --invoicecloud-kebab-action-item-padding: your-brand-vars-go-here;

        /* BUTTONS */

        /* Primary Buttons */
        --invoicecloud-primary-button-background-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-border: your-brand-vars-go-here;
        --invoicecloud-primary-button-border-radius: your-brand-vars-go-here;
        --invoicecloud-primary-button-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-border-outline: your-brand-vars-go-here;
        --invoicecloud-primary-button-border-outline-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-font-size: your-brand-vars-go-here;
        --invoicecloud-primary-button-font-weight: your-brand-vars-go-here;
        --invoicecloud-primary-button-margin: your-brand-vars-go-here;
        --invoicecloud-primary-button-padding: your-brand-vars-go-here;

        --invoicecloud-primary-button-error-background-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-error-background-color-hover: your-brand-vars-go-here;

        --invoicecloud-primary-button-inner-align-items: your-brand-vars-go-here;
        --invoicecloud-primary-button-inner-display: your-brand-vars-go-here;
        --invoicecloud-primary-button-inner-justify-content: your-brand-vars-go-here;
        --invoicecloud-primary-button-inner-gap: your-brand-vars-go-here;

        --invoicecloud-primary-button-disabled-border: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-border-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-background-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-color-hover: your-brand-vars-go-here;

        /* Secondary Buttons */
        --invoicecloud-secondary-button-background-color: your-brand-vars-go-here;
        --invoicecloud-secondary-button-color-hover: your-brand-vars-go-here;
        --invoicecloud-secondary-button-base-color: your-brand-vars-go-here;

        --invoicecloud-secondary-button-error-border: your-brand-vars-go-here;
        --invoicecloud-secondary-button-error-color: your-brand-vars-go-here;
        --invoicecloud-secondary-button-error-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-secondary-button-error-border-hover: your-brand-vars-go-here;

        --invoicecloud-secondary-button-disabled-background-color: your-brand-vars-go-here;
        --invoicecloud-secondary-button-disabled-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-secondary-button-disabled-border: your-brand-vars-go-here;
        --invoicecloud-secondary-button-disabled-border-hover: your-brand-vars-go-here;
        --invoicecloud-secondary-button-disabled-color: your-brand-vars-go-here;
        --invoicecloud-secondary-button-disabled-color-hover: your-brand-vars-go-here;

        /* Simple Buttons */
        --invoicecloud-simple-button-background-color: your-brand-vars-go-here;
        --invoicecloud-simple-button-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-simple-button-border: your-brand-vars-go-here;
        --invoicecloud-simple-button-border-radius: your-brand-vars-go-here;
        --invoicecloud-simple-button-color: your-brand-vars-go-here;
        --invoicecloud-simple-button-margin: your-brand-vars-go-here;
        --invoicecloud-simple-button-padding: your-brand-vars-go-here;

        --invoicecloud-simple-button-error-color: your-brand-vars-go-here;
        --invoicecloud-simple-button-error-color-hover: your-brand-vars-go-here;

        --invoicecloud-simple-button-disabled-background: your-brand-vars-go-here;
        --invoicecloud-simple-button-disabled-color: your-brand-vars-go-here;
        --invoicecloud-simple-button-disabled-color-hover: your-brand-vars-go-here;

        /* Link Icon Buttons */
        --invoicecloud-link-icon-button-align-items: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-background-color: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-color: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-display: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-gap: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-justify-content: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-line-height: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-padding: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-vertical-align: your-brand-vars-go-here;
        --invoicecloud-link-icon-only-button-padding: your-brand-vars-go-here;

        --invoicecloud-link-icon-button-error-color: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-error-color-hover: your-brand-vars-go-here;
        --invoicecloud-link-icon-only-button-error-background-color-hover: your-brand-vars-go-here;

        --invoicecloud-link-icon-button-disabled-color: your-brand-vars-go-here;
        --invoicecloud-link-icon-button-disabled-color-hover: your-brand-vars-go-here;
        --invoicecloud-link-icon-only-button-disabled-background-color: your-brand-vars-go-here;
        --invoicecloud-link-icon-only-button-disabled-background-color-hover: your-brand-vars-go-here;

        /* CTA Buttons */
        --invoicecloud-cta-button-padding: your-brand-vars-go-here;
        --invoicecloud-cta-button-align-items: your-brand-vars-go-here;
        --invoicecloud-cta-button-border: your-brand-vars-go-here;
        --invoicecloud-cta-button-border-radius: your-brand-vars-go-here;
        --invoicecloud-cta-button-display: your-brand-vars-go-here;
        --invoicecloud-cta-button-justify-content: your-brand-vars-go-here;
        --invoicecloud-cta-button-gap: your-brand-vars-go-here;

        /* Typography */
        --invoicecloud-h1-font-size: your-brand-vars-go-here;
        --invoicecloud-h2-font-size: your-brand-vars-go-here;
        --invoicecloud-h3-font-size: your-brand-vars-go-here;
        --invoicecloud-h4-font-size: your-brand-vars-go-here;
        --invoicecloud-h5-font-size: your-brand-vars-go-here;
        --invoicecloud-h6-font-size: your-brand-vars-go-here;
        --invoicecloud-heading-margin: your-brand-vars-go-here;
        --invoicecloud-heading-color: your-brand-vars-go-here;
        --invoicecloud-heading-1-color: your-brand-vars-go-here;
        --invoicecloud-heading-2-color: your-brand-vars-go-here;
        --invoicecloud-heading-3-color: your-brand-vars-go-here;
        --invoicecloud-heading-4-color: your-brand-vars-go-here;
        --invoicecloud-heading-5-color: your-brand-vars-go-here;
        --invoicecloud-heading-6-color: your-brand-vars-go-here;

        --invoicecloud-body-font-size: your-brand-vars-go-here;
        --invoicecloud-body-font-size-xs: your-brand-vars-go-here;
        --invoicecloud-body-font-size-s: your-brand-vars-go-here;
        --invoicecloud-body-font-line-height: your-brand-vars-go-here;

        --invoicecloud-unordered-list-margin: your-brand-vars-go-here;

        /* Badge */
        --invoicecloud-badge-border-radius: your-brand-vars-go-here;
        --invoicecloud-badge-font-size: your-brand-vars-go-here;
        --invoicecloud-badge-font-weight: your-brand-vars-go-here;
        --invoicecloud-badge-padding: your-brand-vars-go-here;
        --invoicecloud-badge-margin: your-brand-vars-go-here;

        /* Chip */
        --invoicecloud-chip-background-color: your-brand-vars-go-here;
        --invoicecloud-chip-border-radius: your-brand-vars-go-here;
        --invoicecloud-chip-border: your-brand-vars-go-here;
        --invoicecloud-chip-color: your-brand-vars-go-here;
        --invoicecloud-chip-font-size: your-brand-vars-go-here;
        --invoicecloud-chip-font-weight: your-brand-vars-go-here;
        --invoicecloud-chip-title-margin: your-brand-vars-go-here;
        --invoicecloud-chip-icon-padding: your-brand-vars-go-here;
        --invoicecloud-chip-icon-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-chip-icon-padding-hover: your-brand-vars-go-here;
        --invoicecloud-chip-icon-color: your-brand-vars-go-here;
        --invoicecloud-chip-icon-color-hover: your-brand-vars-go-here;
        --invoicecloud-chip-border-hover: your-brand-vars-go-here;

        /* FORMS */

        /* Base styles */
        --invoicecloud-input-background-color: your-brand-vars-go-here;
        --invoicecloud-input-border-radius: your-brand-vars-go-here;
        --invoicecloud-input-border: your-brand-vars-go-here;
        --invoicecloud-input-border-focus: your-brand-vars-go-here;
        --invoicecloud-input-border-hover: your-brand-vars-go-here;
        --invoicecloud-input-font-size: your-brand-vars-go-here;
        --invoicecloud-input-container-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-input-desktop-width: your-brand-vars-go-here;
        --invoicecloud-input-margin: your-brand-vars-go-here;
        --invoicecloud-input-padding: your-brand-vars-go-here;
        --invoicecloud-input-height: your-brand-vars-go-here;

        --invoicecloud-input-invalid-border-color: your-brand-vars-go-here;
        --invoicecloud-input-invalid-border-left-width: your-brand-vars-go-here;

        --invoicecloud-input-disabled-background-color: your-brand-vars-go-here;
        --invoicecloud-input-disabled-border-hover: your-brand-vars-go-here;

        --invoicecloud-input-required-color: your-brand-vars-go-here;

        /* Labels */
        --invoicecloud-label-font-size: your-brand-vars-go-here;
        --invoicecloud-label-font-weight: your-brand-vars-go-here;

        /* Checkboxes */
        --invoicecloud-checkbox-border: your-brand-vars-go-here;
        --invoicecloud-checkbox-check-color: your-brand-vars-go-here;
        --invoicecloud-checkbox-check-shape: your-brand-vars-go-here;
        --invoicecloud-checkbox-checked-background-color: your-brand-vars-go-here;
        --invoicecloud-checkbox-box-height: your-brand-vars-go-here;
        --invoicecloud-checkbox-box-width: your-brand-vars-go-here;
        --invoicecloud-checkbox-height: your-brand-vars-go-here;
        --invoicecloud-checkbox-width: your-brand-vars-go-here;
        --invoicecloud-checkbox-border-hover-color: your-brand-vars-go-here;
        --invoicecloud-checkbox-transition: your-brand-vars-go-here;
        --invoicecloud-checkbox-transform-origin: your-brand-vars-go-here;

        --invoicecloud-checkbox-focus-border-radius: your-brand-vars-go-here;
        --invoicecloud-checkbox-focus-outline: your-brand-vars-go-here;
        --invoicecloud-checkbox-focus-transform: your-brand-vars-go-here;

        --invoicecloud-checkbox-disabled-background-color: your-brand-vars-go-here;

        /* Select All Checkbox */
        --invoicecloud-partial-check-background-color: your-brand-vars-go-here;
        --invoicecloud-partial-check-border-color: your-brand-vars-go-here;
        --invoicecloud-partial-check-symbol-color: your-brand-vars-go-here;

        /* Radio Group */
        --invoicecloud-radio-height: your-brand-vars-go-here;
        --invoicecloud-radio-width: your-brand-vars-go-here;
        --invoicecloud-radio-margin: your-brand-vars-go-here;
        --invoicecloud-radio-padding: your-brand-vars-go-here;
        --invoicecloud-radio-border: your-brand-vars-go-here;
        --invoicecloud-radio-border-radius: your-brand-vars-go-here;
        --invoicecloud-radio-background-color: your-brand-vars-go-here;
        --invoicecloud-radio-transition: your-brand-vars-go-here;

        --invoicecloud-radio-selected-border-color: your-brand-vars-go-here;
        --invoicecloud-radio-selected-background-color: your-brand-vars-go-here;
        --invoicecloud-radio-selected-padding: your-brand-vars-go-here;
        --invoicecloud-radio-selected-shape: your-brand-vars-go-here;

        --invoicecloud-radio-disabled-background-color: your-brand-vars-go-here;
        --invoicecloud-radio-selected-disabled-shape: your-brand-vars-go-here;

        --invoicecloud-radio-focus-outline: your-brand-vars-go-here;
        --invoicecloud-radio-focus-border: your-brand-vars-go-here;
        --invoicecloud-radio-focus-transform: your-brand-vars-go-here;

        --invoicecloud-radio-hover-border: your-brand-vars-go-here;
        --invoicecloud-radio-hover-transform: your-brand-vars-go-here;

        /* Date Picker */
        --invoicecloud-date-picker-margin: your-brand-vars-go-here;
        --invoicecloud-date-picker-padding: your-brand-vars-go-here;
        --invoicecloud-date-picker-width: your-brand-vars-go-here;
        --invoicecloud-date-picker-border-hover: your-brand-vars-go-here;
        --invoicecloud-date-picker-focus-border: your-brand-vars-go-here;
        --invoicecloud-date-picker-container-width: your-brand-vars-go-here;

        /* Fieldset */
        --invoicecloud-fieldset-border: your-brand-vars-go-here;
        --invoicecloud-fieldset-padding: your-brand-vars-go-here;

        /* Legend */
        --invoicecloud-legend-font-size: your-brand-vars-go-here;
        --invoicecloud-legend-font-weight: your-brand-vars-go-here;
        --invoicecloud-legend-margin-left: your-brand-vars-go-here;
        --invoicecloud-legend-padding: your-brand-vars-go-here;

        /* Helper Text */
        --invoicecloud-helper-text-font-size: your-brand-vars-go-here;
        --invoicecloud-helper-text-error-color: your-brand-vars-go-here;

        /* MultiSelect */
        --invoicecloud-multiselect-dropdown-background-color: your-brand-vars-go-here;
        --invoicecloud-multiselect-dropdown-max-height: your-brand-vars-go-here;
        --invoicecloud-multiselect-checkbox-margin: your-brand-vars-go-here;
        --invoicecloud-multiselect-item-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-multiselect-item-border-bottom-hover: your-brand-vars-go-here;

        /* Textarea */
        --invoicecloud-text-area-initial-height: your-brand-vars-go-here;

        /* TABLES */
        --invoicecloud-table-background-color: your-brand-vars-go-here;
        --invoicecloud-table-background-color-odd: your-brand-vars-go-here;
        --invoicecloud-table-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-table-min-width: your-brand-vars-go-here;
        --invoicecloud-table-width: your-brand-vars-go-here;
        --invoicecloud-table-row-padding: your-brand-vars-go-here;
        --invoicecloud-table-active-row-border-color: your-brand-vars-go-here;

        --invoicecloud-table-pagination-select-border: your-brand-vars-go-here;
        --invoicecloud-table-pagination-select-border-radius: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-color: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-border-radius: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-font-weight: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-font-size: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-selected-background-color: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-selected-color: your-brand-vars-go-here;

        --invoicecloud-table-dynamic-active-row-action-background-color: your-brand-vars-go-here;
        --invoicecloud-table-chevron-color: your-brand-vars-go-here;

        /* LAYOUT */

        /* Accordion */
        --invoicecloud-accordion-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-accordion-focused-outline: your-brand-vars-go-here;
        --invoicecloud-accordion-focused-outline-offset: your-brand-vars-go-here;
        --invoicecloud-accordion-border-radius: your-brand-vars-go-here;
        --invoicecloud-accordion-background-color: your-brand-vars-go-here;
        --invoicecloud-accordion-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-accordion-border-left: your-brand-vars-go-here;
        --invoicecloud-accordion-border-right: your-brand-vars-go-here;
        --invoicecloud-accordion-border-top: your-brand-vars-go-here;
        --invoicecloud-accordion-border-bottom: your-brand-vars-go-here;
        --invoicecloud-accordion-border-bottom-hover: your-brand-vars-go-here;
        --invoicecloud-accordion-color: your-brand-vars-go-here;
        --invoicecloud-accordion-color-hover: your-brand-vars-go-here;
        --invoicecloud-accordion-font-size: your-brand-vars-go-here;
        --invoicecloud-accordion-font-weight: your-brand-vars-go-here;
        --invoicecloud-accordion-gap: your-brand-vars-go-here;
        --invoicecloud-accordion-padding: your-brand-vars-go-here;
        --invoicecloud-accordion-active-border-radius: your-brand-vars-go-here;
        --invoicecloud-accordion-active-border: your-brand-vars-go-here;
        --invoicecloud-accordion-active-border-bottom: your-brand-vars-go-here;
        --invoicecloud-accordion-content-border-radius: your-brand-vars-go-here;
        --invoicecloud-accordion-content-border: your-brand-vars-go-here;
        --invoicecloud-accordion-content-padding: your-brand-vars-go-here;

        /* Dialog */
        --invoicecloud-dialog-border: your-brand-vars-go-here;
        --invoicecloud-dialog-border-radius: your-brand-vars-go-here;
        --invoicecloud-dialog-max-height: your-brand-vars-go-here;
        --invoicecloud-dialog-max-width: your-brand-vars-go-here;
        --invoicecloud-dialog-padding: your-brand-vars-go-here;
        --invoicecloud-dialog-width: your-brand-vars-go-here;
        --invoicecloud-dialog-backdrop-background-color: your-brand-vars-go-here;
        --invoicecloud-dialog-backdrop-transition: your-brand-vars-go-here;
        --invoicecloud-dialog-backdrop-opaciity: your-brand-vars-go-here;
        --invoicecloud-dialog-title-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-dialog-action-bar-background-color: your-brand-vars-go-here;
        --invoicecloud-dialog-action-bar-border-top: your-brand-vars-go-here;

        /* Dividers */
        --invoicecloud-divider-light: your-brand-vars-go-here;
        --invoicecloud-divider-dark: your-brand-vars-go-here;

        /* Cards */
        --invoicecloud-card-border-radius: your-brand-vars-go-here;
        --invoicecloud-card-box-shadow: your-brand-vars-go-here;
        --invoicecloud-card-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-card-max-width: your-brand-vars-go-here;
        --invoicecloud-card-outline: your-brand-vars-go-here;
        --invoicecloud-card-outline-hover: your-brand-vars-go-here;
        --invoicecloud-card-outline-active: your-brand-vars-go-here;
        --invoicecloud-card-outline-focus: your-brand-vars-go-here;
        --invoicecloud-card-outline-offset-focus: your-brand-vars-go-here;
        --invoicecloud-card-background-color-disabled: your-brand-vars-go-here;
        --invoicecloud-card-color-disabled: your-brand-vars-go-here;
        --invoicecloud-card-heading-color-disabled: your-brand-vars-go-here;
        --invoicecloud-card-button-color-disabled: your-brand-vars-go-here;
        --invoicecloud-card-button-background-color: your-brand-vars-go-here;
        --invoicecloud-card-button-border: your-brand-vars-go-here;
        --invoicecloud-card-button-padding: your-brand-vars-go-here;

        /* FEEDBACK */

        /* Alert */
        --invoicecloud-alert-border-radius: your-brand-vars-go-here;
        --invoicecloud-alert-font-size: your-brand-vars-go-here;
        --invoicecloud-alert-line-height: your-brand-vars-go-here;
        --invoicecloud-alert-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-alert-padding: your-brand-vars-go-here;

        /* UTILITY */

        /* Elevation */
        --invoicecloud-elevation-1: your-brand-vars-go-here;
        --invoicecloud-elevation-2: your-brand-vars-go-here;

        /* Layout */
        --invoicecloud-layout-max-width: your-brand-vars-go-here;
    }
}
