@layer overrides.invoicecloud-overrides {
    :root {
        /* Alert */
        --invoicecloud-alert-border-radius: your-brand-vars-go-here;
        --invoicecloud-alert-font-size: your-brand-vars-go-here;
        --invoicecloud-alert-line-height: your-brand-vars-go-here;
        --invoicecloud-alert-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-alert-padding: your-brand-vars-go-here;

        /* Checkboxes */
        --invoicecloud-checkbox-border: your-brand-vars-go-here;
        --invoicecloud-checkbox-check-color: your-brand-vars-go-here;
        --invoicecloud-checkbox-check-shape: your-brand-vars-go-here;
        --invoicecloud-checkbox-checked-background-color: your-brand-vars-go-here;
        --invoicecloud-checkbox-box-height: your-brand-vars-go-here;
        --invoicecloud-checkbox-box-width: your-brand-vars-go-here;
        --invoicecloud-checkbox-height: your-brand-vars-go-here;
        --invoicecloud-checkbox-width: your-brand-vars-go-here;
        --invoicecloud-checkbox-border-hover-color: your-brand-vars-go-here;
        --invoicecloud-checkbox-transition: your-brand-vars-go-here;
        --invoicecloud-checkbox-transform-origin: your-brand-vars-go-here;

        --invoicecloud-checkbox-focus-border-radius: your-brand-vars-go-here;
        --invoicecloud-checkbox-focus-outline: your-brand-vars-go-here;
        --invoicecloud-checkbox-focus-transform: your-brand-vars-go-here;

        --invoicecloud-checkbox-disabled-background-color: your-brand-vars-go-here;

        /* Dividers */
        --invoicecloud-divider-light: your-brand-vars-go-here;
        --invoicecloud-divider-dark: your-brand-vars-go-here;

        /* Typography */
        --invoicecloud-h1-font-size: your-brand-vars-go-here;
        --invoicecloud-h2-font-size: your-brand-vars-go-here;
        --invoicecloud-h3-font-size: your-brand-vars-go-here;
        --invoicecloud-h4-font-size: your-brand-vars-go-here;
        --invoicecloud-h5-font-size: your-brand-vars-go-here;
        --invoicecloud-h6-font-size: your-brand-vars-go-here;
        --invoicecloud-heading-margin: your-brand-vars-go-here;

        --invoicecloud-body-font-size: your-brand-vars-go-here;
        --invoicecloud-body-font-size-xs: your-brand-vars-go-here;
        --invoicecloud-body-font-size-s: your-brand-vars-go-here;
        --invoicecloud-body-font-line-height: your-brand-vars-go-here;

        --invoicecloud-unordered-list-margin: your-brand-vars-go-here;

        /* Inline Link */
        --invoicecloud-inline-link-color: your-brand-vars-go-here;
        --invoicecloud-inline-link-color-hover: your-brand-vars-go-here;
        --invoicecloud-inline-link-text-decoration: your-brand-vars-go-here;

        --invoicecloud-inline-link-default-color: your-brand-vars-go-here;
        --invoicecloud-inline-link-default-color-hover: your-brand-vars-go-here;

        /* Labels */
        --invoicecloud-label-font-size: your-brand-vars-go-here;
        --invoicecloud-label-font-weight: your-brand-vars-go-here;

        /* Primary Buttons */
        --invoicecloud-primary-button-background-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-border: your-brand-vars-go-here;
        --invoicecloud-primary-button-border-radius: your-brand-vars-go-here;
        --invoicecloud-primary-button-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-border-outline: your-brand-vars-go-here;
        --invoicecloud-primary-button-border-outline-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-font-size: your-brand-vars-go-here;
        --invoicecloud-primary-button-font-weight: your-brand-vars-go-here;
        --invoicecloud-primary-button-margin: your-brand-vars-go-here;
        --invoicecloud-primary-button-padding: your-brand-vars-go-here;

        --invoicecloud-primary-button-error-background-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-error-background-color-hover: your-brand-vars-go-here;

        --invoicecloud-primary-button-inner-align-items: your-brand-vars-go-here;
        --invoicecloud-primary-button-inner-display: your-brand-vars-go-here;
        --invoicecloud-primary-button-inner-justify-content: your-brand-vars-go-here;
        --invoicecloud-primary-button-inner-gap: your-brand-vars-go-here;

        --invoicecloud-primary-button-disabled-border: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-border-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-background-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-background-color-hover: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-color: your-brand-vars-go-here;
        --invoicecloud-primary-button-disabled-color-hover: your-brand-vars-go-here;

        /* TABLES */
        --invoicecloud-table-background-color: your-brand-vars-go-here;
        --invoicecloud-table-background-color-odd: your-brand-vars-go-here;
        --invoicecloud-table-margin-bottom: your-brand-vars-go-here;
        --invoicecloud-table-min-width: your-brand-vars-go-here;
        --invoicecloud-table-width: your-brand-vars-go-here;
        --invoicecloud-table-row-padding: your-brand-vars-go-here;
        --invoicecloud-table-active-row-border-color: your-brand-vars-go-here;

        --invoicecloud-table-pagination-select-border: your-brand-vars-go-here;
        --invoicecloud-table-pagination-select-border-radius: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-color: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-border-radius: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-font-weight: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-font-size: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-selected-background-color: your-brand-vars-go-here;
        --invoicecloud-table-pagination-numeral-selected-color: your-brand-vars-go-here;

        --invoicecloud-table-dynamic-active-row-action-background-color: your-brand-vars-go-here;
        --invoicecloud-table-chevron-color: your-brand-vars-go-here;
    }
}
